* {
    margin : 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20%;
    background-color: #2c2c2c;
    color: rgb(211, 211, 211);
}

.header {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content p {
    line-height: 25px;
}

.content ol {
    margin-left: 20px;
}

b em {
    color: #de8339;
    text-decoration: underline;
}